<div class="banner dark banner-color">
	<h1><a id="{{ include.type.id }}" class="anchor"></a>{{ include.type.title }}</h1>
</div>
<div class="flex-wrap project-list">

	{% assign projects = site.data.projects %}
	{% for project in projects %}
		{% if project[1].type == include.type.id %}
			{% capture target_id %}{{ project[0] }}{% endcapture %}
			{% for preview in site.previews %}
				{% if preview.project_id == target_id %}
				
					{% if project[1].post %}<a id="{{ preview.project_id }}" href="{{ project[1].post }}" class="content-color" style="text-decoration:none; color:inherit;">{% endif %}
						<section>
							{{ preview }}
						</section>
					{% if project[1].post %}</a>{% endif %}

				{% endif %}
			{% endfor %}
		{% endif %}
	{% endfor %}
	
</div>